################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GauntletSlack3/obj
/GauntletSlack3/bin/Debug/net9.0
/GauntletSlack3/.vs/GauntletSlack3
/GauntletSlack3.Api/obj
/GauntletSlack3.Api/bin/Debug/net9.0
/GauntletSlack3.Api/appsettings.json
/GauntletSlack3/appsettings.json
/GauntletSlack3/wwwroot/appsettings.json
killRunningDebugs.sh
