################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GauntletSlack3/obj
/GauntletSlack3/bin
/GauntletSlack3/.vs/GauntletSlack3
/GauntletSlack3/wwwroot/appsettings.Development.json
/GauntletSlack3.Api/obj
/GauntletSlack3.Api/bin
/GauntletSlack3.Api/appsettings.Development.json
/GauntletSlack3.Shared/obj
/GauntletSlack3.Shared/bin
killRunningDebugs.sh
