@namespace GauntletSlack3.SharedComponents.Layouts
@inherits LayoutComponentBase
@using GauntletSlack3.SharedComponents.Navigation

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div> 